// Table of Contents

.toc {              // <ul>
    padding: 0;
}

.toc-item {
    list-style-type: square ;
    padding: 1em 0;
    color: $redorange;
}

.toc-title {
    margin: 0;

    a:link,
    a:visited {
        text-decoration: none;
    }
}
.toc-desc {
    margin: 0;
    color: #999
}