@import "normalize";

body {
  font: 16px/1.3em "PT Sans", Helvetica, Arial, sans-serif;
  color: #333;
}

a:link {
  color: #2469a0;
}

a:visited {
  color: #1b4e76;
}

a:hover,
a:active {
  color: #d03c0f;
}

h1 {
  font-size: 2em;
  line-height: 1.3em;
  color: #2469a0;
}

h2 {
  font-size: 1.5em;
  line-height: 1.3em;
  color: #2469a0;
}

h3 {
  font-size: 1.17em;
  line-height: 1.3em;
}

hr {
  border: 0;
  border-bottom: 1px solid #ccc;
}

img {
  max-width: 100%;
}

code {
  font-family: "Menlo", "Andale Mono", monospace, sans-serif;
}

p code,
li code {
  font-size: .875em;
  background-color: #f5f5f5;
}

.site-title {
  display: inline-block;
  font-size: 3em;
  line-height: 48px;
  color: #D03C0F;
  margin: 0 .25em 0 0;
}

.claim {
  font-size: 2em;
  margin: 0.5em 0 1em 0;
}

.container {
  width: 62em;
  margin: 2em auto;
  max-width: 100%;
  text-align: center;
}

.cta {
  margin: 2em 0;
}

.btn {
  display: inline-block;
  margin: .25em;
  padding: 10px 16px;
  font-size: 1.15em;
  line-height: 1.33;
  border-radius: 6px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
}

.btn-primary {
  color: #FFF;
  background-color: #428BCA;
  border-color: #357EBD;
}

a.btn-primary:link,
a.btn-primary:visited {
  color: #ffffff;
}

a.btn-primary:hover,
a.btn-primary:active {
  background-color: #D03C0F;
}

.btn-secondary {
  background-color: #ddd;
  border-color: #ccc;
}

a.btn-secondary:link,
a.btn-secondary:visited {
  color: #666;
}

a.btn-secondary:hover,
a.btn-secondary:hover {
  background-color: #ccc;
  color: #333;
}

.about {
  margin: 1em auto;
}

.about td {
  text-align: left;
}

.about td:first-child {
  width: 80px;
}

#carbonads {
  width: 320px;
  margin: 3em auto;
  border: 1px solid #ededed;
  padding: 1.5em 1em;
  text-align: left;
}

.carbon-img img {
  float: left;
  margin-right: 18px;
  font-size: 14px;
}

.carbon-text {
  display: block;
  float: none;
  width: auto;
  height: auto;
  margin-left: 136px;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
}

.carbon-text:link,
.carbon-text:visited {
  color: #666;
}

.carbon-poweredby {
  display: block;
  margin-top: 1em;
  font-size: 11px;
  text-decoration: none;
}

.carbon-poweredby:link,
.carbon-poweredby:visited {
  color: #aaa;
}

@media screen and (max-width: 600px) {
  img {
    height: auto !important;
  }
}

@media screen and (max-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  body {
    font-size: 12px;
  }
}