.support-table {
    margin-bottom: 1em;

    .client {
        width: 250px;
        text-align: left;
    }
    .antwort-support,
    .other-support,
    .media-query-support {
        width: 100px
    }

    thead {
        background-color: #f5f5f5;
    }

    tr {
        border-bottom: 1px solid #ededed
    }
    td,
    th {
        padding: .5em;
    }

    .is-supported {
        background-image: url('../images/icon-check-32x32.png');
    }
    .not-supported {
        background-image: url('../images/icon-x-32x32.png');
    }
    .mixed-supported {
        /*background-image: url('../images/icon-question-32x32.png');*/
    }
    .is-supported,
    .not-supported,
    .mixed-supported {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 16px 16px;
    }

}