/*
 * Various CSS Resets
 * ----------------
 * Standard CSS resets to troubleshoot common problems. Use directly in your HTML.
 * This separate file is for reference only.
 * Source: Mailchimp Email Blueprints https://github.com/mailchimp/Email-Blueprints
 */


/* Force Hotmail to display emails at full width */
 .ReadMsgBody {
    width: 100%;
}
 .ExternalClass {
    width: 100%;
}

/* Forces Hotmail to display normal line spacing. */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
    line-height:100%;
}

/* Prevents Webkit and Windows Mobile platforms from changing default font sizes. */
body {
    -webkit-text-size-adjust:none;
    -ms-text-size-adjust:none;
}

/* Resets all body margins and padding to "0" for good measure. */
body {
    margin:0;
    padding:0;
}

/* Resolves webkit padding issue. */
table {
    border-spacing:0;
}

/* Resolves the Outlook 2007, 2010, and Gmail td padding issue. */
table td {
    border-collapse:collapse;
}

/* Weird Yahoo links and border bottom */
.yshortcuts a {
    border-bottom: none !important;
}


